#game-result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#result {
    font-size: 2em;
}

#user-score {
    font-size: 2em;
}

#computer-score {
    font-size: 2em;
}